<div class="container">
    <div class="row align-items-center h-100 mt-4">
        <div class="p-5 mb-4 bg-dark rounded-3">
            <div class="container-fluid">
                <h1 class="display-5 fw-bold">Sondage</h1>
                <hr />
                <h4>Étude préliminaire pour l’intégration d’un chatbot comme dispenseur d’indices dans un Escape Game</h4>
                <br />
                <p>
                    Dans le cadre de mon mémoire pour l'Université de Namur, pourriez-vous répondre aux questions du sondages après avoir participé au jeu ?
                </p>
                <p>
                    D'avance merci !
                </p>
                <br />
                <a type="button" class="btn btn-primary btn-lg" href="https://docs.google.com/forms/d/e/1FAIpQLScjHO6hu1QHxgqyaVgoAdPmYfID6J1rTeRE0dAJ-CFdJLAOXA/viewform?usp=pp_url" target="_blank">Sondage</a>
                <br />
            </div>
        </div>

    </div>
</div>