.logo {
    width: 2rem;
    padding: 0.45rem;
}

.eg-nav {
    padding: 0.5rem 2rem;
}

.chatbot-button {
    border-radius: 50%;
    background: #ddd;
    padding: 0.25rem;
    border: 1px solid black;
    cursor: pointer;
    .icon {
        width: 2rem;
        color: #fff;
    }
    &:hover {
        background-color: red;
        border-color: red;
        transition: background-color 0.5s ease;
    }
}
