.cordes {
    display: flex;
}

.corde-left {
    width: 1.5rem;
    height: 4rem;
    background-color: #333;
    margin-left: 15px;
    filter: drop-shadow(0 5px 5px #222);
}

.corde-right {
    width: 1.5rem;
    height: 4rem;
    background-color: #333;
    margin-left: auto;
    margin-right: 15px;
    filter: drop-shadow(0 5px 5px #222);
}

.simon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #333;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
    filter: drop-shadow(0 5px 5px #222);
    .row {
        display: flex;
        align-items: center;
    }
    &.dontplay {
        pointer-events: none;
    }
}

.square {
    width: 100px;
    height: 100px;
    background-color: currentColor;
    border-radius: 10px;
    margin: 6px;
    cursor: pointer;
    filter: drop-shadow(0 2px 2px #222);
    &.animate {
        animation: mymove 1s reverse;
    }
}

@keyframes mymove {
    0% {
        box-shadow: 0px 0px 6px 2px currentColor;
    }
    100% {
        box-shadow: 0px 0px 6px 6px currentColor;
    }
}
