<div *ngIf="showSimon" [@enterAnimation]>
    <div class="cordes">
        <div class="corde-left"></div>
        <div class="corde-right"></div>
    </div>

    <div class="simon" [class.dontplay]="!canPlay">
        <div class="row">
            <div class="square" style="color:green" [class.animate]="animateBox1" (click)="playCase(1)"></div>
            <div class="square" style="color:red" [class.animate]="animateBox2" (click)="playCase(2)"></div>
        </div>
        <button class="btn-play btn btn-primary btn-lg" type="button" (click)="!start ? playGame() : stopGame()">
          <i  class="fa-solid" [ngClass]="!start ? 'fa-play' : 'fa-stop'"></i></button>
        <div class="row">
            <div class="square" style="color:yellow" [class.animate]="animateBox3" (click)="playCase(3)"></div>
            <div class="square" style="color:blue" [class.animate]="animateBox4" (click)="playCase(4)"></div>
        </div>
    </div>
</div>
