<div class="container">
    <div class="row align-items-center h-100 mt-4 scrollmax">
        <div class="p-2 bg-dark rounded-3">
            <div class="container-fluid">
                <div class="super-mario-win">
                    <div class="title-mario">
                        <div>
                            <span class="txt blue">Y</span>
                            <span class="txt yellow">o</span>
                            <span class="txt red">u</span>
                        </div>
                        <div>
                            <span class="txt red">W</span>
                            <span class="txt green">i</span>
                            <span class="txt yellow">n</span>
                        </div>
                    </div>

                </div>

                <p class="col-md-8 fs-4 m-0 mx-auto text-center">{{ 'game.youwintxt' | translate}}<b>{{ score }}</b></p>
                <button class="btn btn-primary btn-lg" type="button">{{ 'game.rejouer' | translate}}</button>
            </div>
        </div>

    </div>
</div>
