<div class="container">
    <div class="row align-items-center h-100 mt-4">
        <div class="p-5 mb-4 bg-dark rounded-3">
            <div class="container-fluid py-5">
                <div class="title-mario">
                    <div>
                        <span class="txt blue">Y</span>
                        <span class="txt yellow">o</span>
                        <span class="txt red">u</span>
                    </div>
                    <div>
                        <span class="txt red">W</span>
                        <span class="txt green">i</span>
                        <span class="txt yellow">n</span>
                    </div>
                </div>
                <p class="col-md-8 fs-4">Félicitation, vous avez gagné avec un score de ...</p>
                <button class="btn btn-primary btn-lg" type="button">Rejouer</button>
            </div>
        </div>

    </div>
</div>