<div class="enigme5">

    <div class="alert alert-danger" role="alert">
        <b>Avertissement !</b> 2 personnes maximum dans la barque
    </div>


    <div class="container-player">
        <div class="select-player">
            <div class="mario"></div>
        </div>
        <div class="select-player">
            <div class="mushroom"></div>
        </div>
        <div class="select-player">
            <div class="bowser"></div>
        </div>
    </div>
    <div class="sink_green"></div>

    <div>
        <div class="barque"></div>
        <div class="mario"></div>
        <!-- <div class="bowser"></div> -->
        <div class="mushroom"></div>
    </div>


    <div class="panel_exit"></div>
    <div class="sink_red"></div>
    <div class="full-grass">
        <div class="grass2"></div>
        <div class="rock01"></div>
        <div class="bottom-grass"></div>
        <div class="rock02"></div>
        <div class="grass3"></div>
    </div>

</div>
