<div class="enigme5">

    <div class="alert alert-danger" role="alert">
        <b>Avertissement !</b> 2 personnes maximum dans la barque
    </div>


    <div class="container-player">
        <div class="select-player" (click)="selectMario()">
            <div class="mario" *ngIf="!mario"></div>
        </div>
        <div class="select-player" (click)="selectMushroom()">
            <div class="mushroom" *ngIf="!mushroom"></div>
        </div>
        <div class="select-player" (click)="selectBowser()">
            <div class="bowser" *ngIf="!bowser"></div>
        </div>
    </div>

    <div>
        <button type="button" class="btn btn-success" (click)="traverser()">Traverser</button>
    </div>

    <a routerLink="/enigme5">
        <div class="sink_green sink_green1"></div>
    </a>

    <div class="move-barque" [class.rive-droite]="rive_droite">
        <div class="barque"></div>
        <div class="mario" *ngIf="mario" (click)="unselectMario()"></div>
        <div class="bowser" *ngIf="bowser" (click)="unselectBowser()"></div>
        <div class="mushroom" *ngIf="mushroom" (click)="unselectMushroom()"></div>
    </div>


    <div class="panel_exit"></div>
    <div class="sink_red"></div>
    <div class="full-grass">
        <div class="grass2"></div>
        <div class="rock01"></div>
        <div class="bottom-grass"></div>
        <div class="rock02"></div>
        <div class="grass3"></div>
    </div>

</div>
