<div class="enigme5">


    <div class="container-player">
        <div class="select-player" (click)="selectLuigi()">
            <div class="luigi" *ngIf="embarque[0]"></div>
        </div>
        <div class="select-player" (click)="selectMushroom()">
            <div class="mushroom" *ngIf="embarque[1]"></div>
        </div>
        <div class="select-player" (click)="selectBowser()">
            <div class="bowser" *ngIf="embarque[2]"></div>
        </div>
    </div>

    <div class="middle">
        <div class="alert alert-danger info-win" role="alert" *ngIf="wrong">
            <span class="win-lose">{{ 'game.tuperds' | translate}}</span>
        </div>
        <div class="alert alert-success info-win" role="alert" *ngIf="win">
            <span class="win-lose">{{ 'game.bravo' | translate}}</span>
        </div>

        <div class="alert alert-danger" role="alert">
            <b>{{ 'game.warning' | translate}}</b>
            <ul>
                <li [innerHtml]="'game.barque1' | translate"></li>
                <li [innerHtml]="'game.barque2' | translate"></li>
                <li [innerHtml]="'game.barque3' | translate"></li>
            </ul>
        </div>


        <button type="button" class="btn btn-success" (click)="traverser()" *ngIf="!output">{{ 'game.traverser' | translate}}</button>
    </div>

    <div class="container-player end">
        <div class="select-player" (click)="selectLuigi()">
            <div class="luigi" *ngIf="debarque[0]"></div>
        </div>
        <div class="select-player" (click)="selectMushroom()">
            <div class="mushroom" *ngIf="debarque[1]"></div>
        </div>
        <div class="select-player" (click)="selectBowser()">
            <div class="bowser" *ngIf="debarque[2]"></div>
        </div>
    </div>

    <a routerLink="/enigme5">
        <div class="sink_green sink_green1"></div>
    </a>

    <div class="move-barque" [class.rive-droite]="rive_droite">
        <div class="barque"></div>
        <div class="mario"></div>
        <div class="luigi" *ngIf="barque===1" (click)="unselectLuigi()"></div>
        <div class="mushroom" *ngIf="barque===2" (click)="unselectMushroom()"></div>
        <div class="bowser" *ngIf="barque===3" (click)="unselectBowser()"></div>
    </div>


    <div class="panel_exit"></div>
    <div class="sink_red" routerLink="/win" *ngIf="output"></div>
    <div class="full-grass">
        <div class="grass2"></div>
        <div class="rock01"></div>
        <div class="bottom-grass"></div>
        <div class="rock02"></div>
        <div class="grass3"></div>
    </div>

</div>
