<div class="enigme1">
    <div class="simon">
        <app-simon [showSimon]="getShowSimon()"></app-simon>
    </div>

    <div class="mountain" (click)="moveMountain()" *ngIf="getMountain()" [@enterAnimation]></div>
    <div class="porte">
        <div class="porte_hobbit_cadre"></div>
        <div class="porte_hobbit_interieur" routerLink="/enigme3"></div>
    </div>


    <a routerLink="/enigme2">
        <div class="sink_green"></div>
    </a>

    <div class="full-grass">
        <div class="grass2"></div>
    </div>

</div>