@font-face {
    font-family: SuperMario;
    src: url(/assets/font/SuperMario256.ttf) format("opentype");
}

@font-face {
    font-family: digital;
    src: url(/assets/font/digital-7.ttf) format("opentype");
}
