.full-grass {
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    z-index: 40;
    pointer-events: none;
}

.grass2 {
    height: 35vh;
    width: 100%;
    display: flex;
    background-size: auto;
    background-position-y: bottom;
    background-repeat: repeat-x;
    background-image: url(/assets/img/grass2.png);
}

.sink_green {
    display: flex;
    background-image: url(/assets/img/sink_green.png);
    background-repeat: no-repeat;
    background-size: 90% 100%;
    background-position-y: bottom;
    height: 35vh;
    width: 9vw;
    position: absolute;
    right: 5vw;
    bottom: 0;
    z-index: 20;
    -webkit-animation: myanim 1s normal linear;
    -moz-animation: myanim 1s normal linear;
    -o-animation: myanim 1s normal linear;
    animation: myanim 1s normal linear;
}

.sink_red {
    height: 23vh;
    width: 6vw;
    right: 1rem;
    display: flex;
    background-image: url(/assets/img/sink_red.png);
    background-repeat: no-repeat;
    background-size: 90% 100%;
    position: absolute;
    bottom: 0;
    z-index: 50;
    -webkit-animation: myanim 1s normal linear forwards;
    -moz-animation: myanim 1s normal linear forwards;
    -o-animation: myanim 1s normal linear forwards;
    animation: myanim 1s normal linear forwards;
}

@-webkit-keyframes myanim {
    0% {
        background-position-y: 35vh;
    }
    100% {
        background-position-y: 0;
    }
}

@-moz-keyframes myanim {
    0% {
        background-position-y: 35vh;
    }
    100% {
        background-position-y: 0;
    }
    /* set this to the width of the image */
}

@-o-keyframes myanim {
    0% {
        background-position-y: 35vh;
    }
    100% {
        background-position-y: 0;
    }
    /* set this to the width of the image */
}

@keyframes myanim {
    0% {
        background-position-y: 35vh;
    }
    100% {
        background-position-y: 0;
    }
    /* set this to the width of the image */
}

@-webkit-keyframes myanim2 {
    0% {
        background-position-y: 150px;
    }
    100% {
        background-position-y: 0;
    }
}

@-moz-keyframes myanim2 {
    0% {
        background-position-y: 150px;
    }
    100% {
        background-position-y: 0;
    }
    /* set this to the width of the image */
}

@-o-keyframes myanim2 {
    0% {
        background-position-y: 150px;
    }
    100% {
        background-position-y: 0;
    }
    /* set this to the width of the image */
}

@keyframes myanim2 {
    0% {
        background-position-y: 150px;
    }
    100% {
        background-position-y: 0;
    }
    /* set this to the width of the image */
}

.bubble {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    animation: glowanim 5s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes glowanim {
    50% {
        box-shadow: inset 0 0 50px #fff, inset 20px 0 80px #f0f, inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
    }
}

@media only screen and (max-width: 1024px) {
    .sink_green {
        background-size: 100% 80%;
    }
}