<div class="container">
    <div class="row align-items-center h-100 mt-4">
        <div class="p-5 mb-4 bg-dark rounded-3">
            <div class="container-fluid">
                <h1 class="display-5 fw-bold">Crédits</h1>
                <hr />
                <h3>Création & Webdesign</h3>
                <p>
                    Alexis Degraeve
                </p>

                <h3>Images</h3>
                <ul>
                    <li>
                        <a target="_blank" href="https://icons8.com/icon/vqG5bg_3mxfV/heart-key">Heart Key</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a></li>
                    <li>
                        <a href="https://www.clipartmax.com/middle/m2i8G6m2Z5i8N4d3_old-padlock-3-old-key-marketing/" target="_blank">Old Padlock 3, Old Key - Marketing @clipartmax.com</a>
                    </li>
                    <li>
                        <a href="http://www.stickpng.com/img/games/new-super-mario-bros/angry-wario">Angry Wario</a>
                    </li>
                    <li>
                        <a href="https://www.cleanpng.com/png-rock-pixabay-illustration-vector-rocks-163274/download-png.html#Personal">Montagne</a>
                    </li>
                    <li>
                        <a href="https://fr.freepik.com/vecteurs-libre/bateau-bois-pagaie-fond-blanc_18552769.htm#query=barque&position=0&from_view=keyword&track=sph">Barque</a>
                    </li>
                    <li>
                        <a href="https://www.pngwing.com/en/free-png-npfem/">New Super Mario Bros. 2 Bowser</a>
                    </li>
                    <li>
                        <a href="https://www.pngaaa.com/detail/267406">Super Mario Kart</a>
                    </li>
                    <li>
                        <a href="https://www.pngegg.com/en/png-zddsk">Super Mario world pipe</a>
                    </li>
                    <li>
                        <a href="https://fr.freepik.com/vecteurs-libre/ensemble-portes-maison-hobbit_28880594.htm">Porte maison Hobbit</a>
                    </li>
                    <li>
                        <a href="https://www.iconfinder.com/search?q=super%20mario">Super Mario icônes</a>
                    </li>
                </ul>

            </div>
        </div>

    </div>
</div>