.score {
    font-family: digital;
    font-size: 40px;
    margin-left: 3.5rem;
}

.information-bar {
    background-color: #564e99;
    display: flex;
    padding: 0.25rem;
    z-index: 200;
    position: relative;
}

.room {
    background-color: black;
    border: 2px solid #fff;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transform: rotate(-10deg);
    margin-left: 2rem;
    font-weight: bold;
}

.enigmes {
    display: flex;
    margin-left: auto;
    margin-right: 2rem;
    justify-content: center;
    align-items: center;
    font-family: digital;
    font-size: 40px;
    .key {
        padding-left: 1rem;
        padding-right: 1rem;
        height: 48px;
        width: 48px;
        background-image: url(/assets/icons/heart-key.png);
        &.notfound {
            opacity: 0.2;
        }
    }
}