<div class="super-mario-container">
    <div class="title-mario">
        <div>
            <span class="txt blue">E</span>
            <span class="txt yellow">s</span>
            <span class="txt red">c</span>
            <span class="txtgreen">a</span>
            <span class="txt yellow">p</span>
            <span class="txt blue">e</span>
        </div>
        <div>
            <span class="txt red">G</span>
            <span class="txt green">a</span>
            <span class="txt yellow">m</span>
            <span class="txt blue">e</span>
        </div>
    </div>
</div>

<div class="bubble-container">
    <div class="bubble">
        <div class="start"><img src="/assets/icons/start_mario.png" class="logo" /></div>
        <button type="button" class="btn btn-danger btn-lg" routerLink="/game">Let's go!</button>
    </div>
</div>