@import '../../../scss/colors.scss';
.super-mario-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-mario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     :nth-child(2) {
        margin-top: -10vh;
    }
}

.bubble-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: absolute;
}

@media only screen and (max-width: 800px) {
    .title {
        font-size: 8rem;
    }
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 5.5rem;
         :nth-child(2) {
            margin-top: -3rem;
        }
    }
}
