<div class="horror-container">
    <div class="title">
        <div>
            <span class="blue">E</span>
            <span class="yellow">s</span>
            <span class="red">c</span>
            <span class="green">a</span>
            <span class="yellow">p</span>
            <span class="blue">e</span>
        </div>
        <div>
            <span class="red">G</span>
            <span class="green">a</span>
            <span class="yellow">m</span>
            <span class="blue">e</span>
        </div>

    </div>
    <!-- <div class="horror-typo">Escape</div>
    <div class="luckyc animate-flicker">D</div>
    <div class="horror-typo">Game</div> -->
</div>

<div class="eclipse">

</div>
