<div class="enigme3">

    <a routerLink="/enigme1">
        <div class="sink_green sink_green1"></div>
    </a>


    <div class="addition" *ngIf="authorized">
        <div class="row">
            <div class="star"></div>
            <div class="sign">+</div>
            <div class="star"></div>
            <div class="sign">+</div>
            <div class="star"></div>
            <div class="sign">=</div>
            <div class="total"> 30 </div>
        </div>
        <div class="row">
            <div class="star"></div>
            <div class="sign">+</div>
            <div class="mushroom_bee"></div>
            <div class="sign">+</div>
            <div class="mushroom_bee"></div>
            <div class="sign"> = </div>
            <div class="total"> 20 </div>
        </div>
        <div class="row">
            <div class="mushroom_bee"></div>
            <div class="sign">+</div>
            <div class="goomba"></div>
            <div class="goomba pos1"></div>
            <div class="sign">+</div>
            <div class="goomba"></div>
            <div class="goomba pos2"></div>
            <div class="sign">=</div>
            <div class="total"> 9 </div>
        </div>
        <div class="row">
            <div class="mushroom_bee"></div>
            <div class="sign">+</div>
            <div class="goomba"></div>
            <div class="sign">*</div>
            <div class="star"></div>
            <div class="sign">=</div>
            <input (keyup.enter)="setSolution()" [(ngModel)]="total" type="number" min="1" max="99" class="form-control totalnb" placeholder="0" aria-label="total">
            <button type="button" class="btn btn-primary validate" (click)="setSolution()"><i class="fa-solid fa-check"></i></button>
        </div>
    </div>

    <div class="alert alert-danger info-win" role="alert" *ngIf="wrong">
        <span class="win-lose">{{ 'game.tuperds' | translate}}</span>
    </div>
    <div class="alert alert-success info-win" role="alert" *ngIf="win">
        <span class="win-lose">{{ 'game.bravo' | translate}}</span>
    </div>

    <a routerLink="/enigme4" *ngIf="output">
        <div class="sink_green sink_green2"></div>
    </a>

    <div class="full-grass">
        <div class="grass2"></div>
    </div>

</div>
