<div class="enigme3">

    <a routerLink="/enigme2">
        <div class="sink_green sink_green1"></div>
    </a>

    <div class="chest"></div>

    <div class="addition">
        <div class="row">
            <div class="star"></div>
            <div class="sign">+</div>
            <div class="star"></div>
            <div class="sign">+</div>
            <div class="star"></div>
            <div class="sign">=</div>
            <div class="total"> 30 </div>
        </div>
        <div class="row">
            <div class="star"></div>
            <div class="sign">+</div>
            <div class="mushroom_bee"></div>
            <div class="sign">+</div>
            <div class="mushroom_bee"></div>
            <div class="sign"> = </div>
            <div class="total"> 20 </div>
        </div>
        <div class="row">
            <div class="mushroom_bee"></div>
            <div class="sign">+</div>
            <div class="goomba"></div>
            <div class="goomba"></div>
            <div class="sign">+</div>
            <div class="goomba"></div>
            <div class="goomba"></div>
            <div class="sign">=</div>
            <div class="total"> 9 </div>
        </div>
        <div class="row">
            <div class="mushroom_bee"></div>
            <div class="sign">+</div>
            <div class="goomba"></div>
            <div class="sign">+</div>
            <div class="star"></div>
            <div class="sign">=</div>
            <input type="number" class="form-control" placeholder="total" aria-label="total">

        </div>
    </div>

    <a routerLink="/enigme4">
        <div class="sink_green sink_green2"></div>
    </a>

    <div class="full-grass">
        <div class="grass2"></div>
    </div>

</div>