.footer {
    color: #ccc;
    font-size: 12px;
    margin: 0;
}

.footer-container {
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.12);
}