<div class="enigme4">
    <div class="sink_green"></div>

    <div class="matches pos-1">
        <div class="head"></div>
        <div class="body"></div>
    </div>

    <div class="matches pos-2">
        <div class="head"></div>
        <div class="body"></div>
    </div>

    <div class="matches pos-3">
        <div class="head"></div>
        <div class="body"></div>
    </div>

    <div class="matches pos-4">
        <div class="head"></div>
        <div class="body"></div>
    </div>

    <div class="matches pos-5">
        <div class="head"></div>
        <div class="body"></div>
    </div>

    <div class="full-grass">
        <div class="grass2"></div>
    </div>

</div>
