<div class="enigme5">

    <a routerLink="/enigme4">
        <div class="sink_green sink_green1"></div>
    </a>


    <div class="parking-container" *ngIf="!output">
        <div class="case-parking">
            <div class="parking-number">16</div>
            <div class="place-parking">
                <div class="car_monster"></div>
            </div>
        </div>

        <div class="case-parking">
            <div class="parking-number">06</div>
            <div class="place-parking">
                <div class="no-car"></div>
            </div>
        </div>
        <div class="case-parking">
            <div class="parking-number">68</div>
            <div class="place-parking">
                <div class="car_princess"></div>
            </div>
        </div>

        <div class="case-parking">
            <div class="parking-number">88</div>
            <div class="place-parking">
                <div class="no-car"></div>
            </div>
        </div>

        <div class="case-parking">
            <div class="parking-number" [class.pe-none]="output">
                <input (keyup.enter)="setSolution()" [(ngModel)]="parkingnb" type="number" min="1" max="99" class="form-control totalnb" placeholder="0" aria-label="parking number">
                <button type="button" class="btn btn-primary validate" (click)="setSolution()"><i class="fa-solid fa-check"></i></button>
            </div>
            <div class="place-parking">
                <div class="car_mario"></div>
            </div>
        </div>

        <div class="case-parking">
            <div class="parking-number">98</div>
            <div class="place-parking">
                <div class="no-car"></div>
            </div>
        </div>

        <div class="alert alert-danger info-win" role="alert" *ngIf="wrong">
            <span class="win-lose">{{ 'game.tuperds' | translate}}</span>
        </div>
        <div class="alert alert-success info-win" role="alert" *ngIf="win">
            <span class="win-lose">{{ 'game.bravo' | translate}}</span>
        </div>

    </div>

    <a routerLink="/enigme6" *ngIf="output">
        <div class="sink_green sink_green2"></div>
    </a>
    <div class="full-grass">
        <div class="grass2"></div>
        <div class="bottom-grass"></div>
    </div>

</div>
