<div class="enigme5">

    <a routerLink="/enigme4">
        <div class="sink_green sink_green1"></div>
    </a>


    <div class="parking-container">
        <div class="case-parking">
            <div class="parking-number">16</div>
            <div class="place-parking">
                <div class="car_monster"></div>
            </div>
        </div>

        <div class="case-parking">
            <div class="parking-number">06</div>
            <div class="place-parking">
                <div class="no-car"></div>
            </div>
        </div>
        <div class="case-parking">
            <div class="parking-number">68</div>
            <div class="place-parking">
                <div class="car_princess"></div>
            </div>
        </div>

        <div class="case-parking">
            <div class="parking-number">88</div>
            <div class="place-parking">
                <div class="no-car"></div>
            </div>
        </div>

        <div class="case-parking">
            <div class="parking-number">??</div>
            <div class="place-parking">
                <div class="car_mario"></div>
            </div>
        </div>

        <div class="case-parking">
            <div class="parking-number">98</div>
            <div class="place-parking">
                <div class="no-car"></div>
            </div>
        </div>



    </div>

    <a routerLink="/enigme6">
        <div class="sink_green sink_green2"></div>
    </a>
    <div class="full-grass">
        <div class="grass2"></div>
        <div class="bottom-grass"></div>
    </div>

</div>