@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import './scss/fonts.scss';
@import './scss/colors.scss';
html {
    height: 100%;
}

body {
    background-image: linear-gradient(to right bottom, #8400ae, #6a18a3, #521f97, #3a2289, #23227a, #482179, #622176, #772272, #b12b6c, #dd495d, #f87648, #ffa837);
    background-color: #000;
    color: #fff;
    font-size: 16px;
    overflow-x: hidden;
    --bs-border-color: #111;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    h5 {
        font-size: 18px;
    }
    body {
        font-size: 14px;
    }
}


/* Common Style */

.title-mario {
    font-family: SuperMario;
    font-size: 10rem;
    text-shadow: 10px 10px black;
    span {
        -webkit-text-stroke: 3px #666;
    }
}