/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: ghastly;
    src: url(assets/font/ghastly.ttf) format("opentype");
}

@font-face {
    font-family: skullx;
    src: url(assets/font/skullx.ttf) format("opentype");
}

@font-face {
    font-family: luckycharms;
    src: url(assets/font/luckycharms.ttf) format("opentype");
}

@font-face {
    font-family: SuperMario256;
    src: url(assets/font/SuperMario256.ttf) format("opentype");
}

html {
    height: 100%;
}

body {
    background-image: linear-gradient(to right bottom, #8400ae, #6a18a3, #521f97, #3a2289, #23227a, #482179, #622176, #772272, #b12b6c, #dd495d, #f87648, #ffa837);
    background-color: #000;
    color: #fff;
    font-size: 16px;
    overflow-x: hidden;
    --bs-border-color: #111;
}

@media only screen and (max-width: 600px) {
    h5 {
        font-size: 18px;
    }
    body {
        font-size: 14px;
    }
}
