/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: ghastly;
    src: url(assets/font/ghastly.ttf) format("opentype");
}

@font-face {
    font-family: skullx;
    src: url(assets/font/skullx.ttf) format("opentype");
}

@font-face {
    font-family: luckycharms;
    src: url(assets/font/luckycharms.ttf) format("opentype");
}

@font-face {
    font-family: SuperMario256;
    src: url(assets/font/SuperMario256.ttf) format("opentype");
}

body {
    background: linear-gradient(135deg, #000 25%, transparent 25%), linear-gradient(225deg, #000 25%, transparent 25%), linear-gradient(315deg, #000 25%, transparent 25%), linear-gradient(45deg, #000 25%, transparent 25%);
    background-size: 10rem 10rem;
    background-color: #2c0202;
    color: #fff;
    font-size: 16px;
    overflow-x: hidden;
    --bs-border-color: #111;
}

@media only screen and (max-width: 600px) {
    h5 {
        font-size: 18px;
    }
    body {
        font-size: 14px;
    }
}
