.title-mario {
    display: flex;
    margin-left: 15rem;
    font-size: 7rem;
    div:nth-child(2) {
        margin-left: 4rem;
    }
}

.game-over-mario {
    height: 260px;
    width: 266px;
    background-image: url(/assets/img/mario_angry.png);
    background-repeat: no-repeat;
    display: flex;
    filter: drop-shadow(0 5px 5px #222);
    transform: scale(0.8);
}

@media (max-width: 768px) {
    .title-mario {
        font-size: 2.5rem;
        margin-left: 8rem;
        flex-wrap: wrap;
    }
    .game-over-mario {
        width: 176px;
        background-size: contain;
        transform-origin: left;
    }
    .container {
        .row {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    button {
        margin-top: 2rem;
    }
}