<div class="container">
    <div class="row align-items-center h-100 mt-4">
        <div class="p-5 mb-4 bg-dark rounded-3">
            <div class="container-fluid py-5">
                <div class="title-mario">
                    <div>
                        <span class="txt blue">G</span>
                        <span class="txt yellow">a</span>
                        <span class="txt red">m</span>
                        <span class="txt blue">e</span>
                    </div>
                    <div>
                        <span class="txt red">o</span>
                        <span class="txt green">v</span>
                        <span class="txt yellow">e</span>
                        <span class="txt red">r</span>
                    </div>
                </div>

                <p class="col-md-8 fs-4">Désolé vous avez perdu !</p>
                <button class="btn btn-primary btn-lg" type="button">Rejouer</button>
            </div>
        </div>

    </div>
</div>