<div class="container h-100" *ngIf="show">
    <div class="row align-items-center h-100 mt-4">
        <div class="p-5 mb-4 bg-dark rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Bienvenue cher joueur</h1>
                <p class="col-md-8 fs-4">Vous allez découvrir l'escape game La salle des jeux. <br /> Cliquez sur start pour commencer.</p>
                <button class="btn btn-primary btn-lg" type="button" (click)="startGame()">Start</button>
            </div>
        </div>

    </div>
</div>