<div class="container" *ngIf="show">
    <div class="row align-items-center h-100 mt-4">
        <div class="p-5 mb-4 bg-dark rounded-3">
            <div class="container-fluid">
                <h1 class="display-5 fw-bold">Bienvenue</h1>
                <hr />
                <div class="fs-5">
                    <p>Cher joueur,<br/> vous allez découvrir le monde passionant de Super Mario en escape game virtuel.</p>
                    <p>N'hésitez pas à solliciter Mushroom, le <b>chatbot</b> disponible, en haut à droite, si vous avez besoin d'aide !</p>
                    <p>Bon amusement ! Good Game !</p>
                </div>
                <br />
                <button class="btn btn-primary btn-lg" type="button" (click)="startGame()">Démarrer</button>
                <br />
            </div>
        </div>

    </div>
</div>